{% extends 'base.html' %}

{% load static %}


{% block modeloquecambia %}
    <h1 class="logo">Buscar</h1>
    <nav class="navigation">
        <a href="{% url 'Inicio' %}">Inicio</a>
        <a href="{% url 'Cursos' %}">Cursos</a>
        <a href="{% url 'Estudiantes' %}">Estudiantes</a>
        <a href="{% url 'Profesores' %}">Profesores</a>
    </nav>
    
        <form action="{% url 'Buscar' %}" method="GET">
            {% csrf_token %}
                <p><input type="number" name="camada" id="camada"><button type="submit"><ion-icon name="search-outline"></ion-icon></button> </p>
        </form>
    
{% endblock modeloquecambia %}
